@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Oswald&family=Pacifico&display=swap');

:root {
    --primary-color: rgb(1, 57, 78);
    --on-background: rgb(66, 66, 66);
    --on-background-alt: rgb(66, 66, 66);
    --about-school-background-image: url('../img/GB.jpg');
    --secondary-color: #ee430f;
    --background: rgb(255, 255, 255);
    --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
    --second-section-color: rgb(234, 244, 246);
    --third-section-color:rgb(248, 237, 241);

}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Comfortaa, sans-serif;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    z-index: 20;
    font-family: Oswald, sans-serif;
    font-size: 50px;
    margin-bottom: 0;
}
  
h2 {
    z-index: 20;
    color: var(--on-background-alt);
    font-size: 32px;
    font-weight: normal;
}


/* Navigation */
nav {
    z-index: 10;
    position: fixed;
    font-family: Oswald, sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
    padding: 25px;
    width: 100vw;
    background: rgb(255 255 255 / 50%);
}
  
a {
    margin-right: 25px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-weight: bold;
}
  
a:hover,
a:focus {
    color: var(--on-background);
    border-bottom: 3px solid;
}

/* About School Section */
.title-group {
    text-align: center;
}

#aboutSchool {
    background-image: var(--about-school-background-image);
    background-size: 100%;
}

.about-school-section-text {
    padding-bottom: 30px;
}

.images1, .images2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 25px;
    width: 350px;
    background: var(--background);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#image1, #image2, #image3, #image4,#image5,
#image6 {
    height: 250px;
    width: 250px;
}

/* About Us Section */
#aboutUs {
    background-color: var(--second-section-color);
}

#image5, #image6 {
    height: auto;
    width: 300px;
}

.first-teacher {
    padding-top: 7rem;
    padding-right: 40rem;
    display: flex;
    flex-direction: row;

}

.first-teacher-text-section, .second-teacher-text-section, p {
    height: 200px;
    width: 500px;
    line-height: 1.4rem;
}

.second-teacher-text-section {
    padding-right: 2rem;
}

.second-teacher {
    z-index: 15;
    position: relative;
    top: -2rem;
    padding-left: 40rem;
    display: flex;
    flex-direction: row-reverse;
}

/* Third Section */
#necessity {
    background-color: var(--third-section-color);
}

.third-section-text-section, h2 {
    padding-bottom: 2rem;
}

.container-3rd-section {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 25px;
    width: 18rem;
    background: var(--background);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 #image7, #image8, #image9,
 #image10, #image11 {
    height: 20rem;
    width: 15rem;
}
