@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Oswald&family=Pacifico&display=swap');

:root {
    --primary-color: rgb(4, 3, 82);
    --on-background: rgb(230, 17, 17);
    --on-background-alt: rgb(44, 44, 44);
    --about-school-background-image: url('../img/GB.jpg');
    --secondary-color: #ee430f;
    --background: rgb(255, 255, 255);
    --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
    --second-section-color: rgb(234, 244, 246);
    --third-section-color:rgb(248, 237, 241);
    --fourth-section-color:rgb(254, 254, 254);
}

[data-theme="italy"] {
    --about-school-background-image: url('../img/Italy.jpg');
    --primary-color: rgb(150, 65, 255);
    --primary-variant: #6c63ff;
    --secondary-color: #03dac5;
    --on-primary: #000;
    --on-background: rgb(230, 17, 17);
    --on-background-alt: rgb(44, 44, 44);
    --background: rgb(255, 255, 255);
    --second-section-color: rgb(232, 245, 238);
    --third-section-color:rgb(254, 254, 254);
    --fourth-section-color:rgb(251, 236, 237);
  }

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    font-family: Comfortaa, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    z-index: 20;
    font-family: Oswald, sans-serif;
    font-size: 50px;
    margin-bottom: 0;
}
  
h2 {
    z-index: 20;
    color: var(--on-background-alt);
    font-size: 32px;
    font-weight: normal;
}


/* Navigation */
.theme-switcher {
    z-index: 20;
    position: relative;
    top: -2rem;
    left: 113rem;
}

#flag_img {
    width: 20px;
    height: 20px;
}

nav {
    z-index: 10;
    position: fixed;
    font-family: Oswald, sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
    padding: 25px;
    padding-bottom: 0px;
    width: 100vw;
    background: rgb(255 255 255 / 50%);
}
  
a {
    margin-right: 25px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-weight: bold;
}
  
a:hover,
a:focus {
    color: var(--on-background);
}

/* About School Section */

.title-group {
    text-align: center;
}

#aboutSchool {
    background-image: var(--about-school-background-image);
    background-size: 100%;
}

.about-school-section-text {
    padding-bottom: 30px;
}

.images-container1, .images-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images1, .images2, .images3, .images4, .images5, .images6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container, .container-4rd-section {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 25px;
    width: 350px;
    background: var(--background);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#image1, #image2, #image3, #image4 {
    height: 250px;
    width: 250px;
}

/* About Us Section */
#aboutUs {
    background-color: var(--second-section-color);
}

#image5, #image6, #image12, #image13 {
    height: auto;
    width: 300px;
}

.first-teacher, .first-review {
    padding-top: 7rem;
    padding-right: 40rem;
    display: flex;
    flex-direction: row;
}

.first-teacher-text-section, .second-teacher-text-section, .first-review-text-section, .second-review-text-section p {
    height: 200px;
    width: 500px;
    line-height: 1.4rem;
}

.second-teacher-text-section, .first-review-text-section, .second-review-text-section {
    padding-right: 2rem;
}

.second-teacher, .second-review {
    z-index: 15;
    position: relative;
    top: -6rem;
    padding-left: 40rem;
    display: flex;
    flex-direction: row-reverse;
}

.second-review {
    position: relative;
    top: -5rem;
}

/* Necessity Section */
#necessity {
    background-color: var(--third-section-color);
}

.third-section-text-section, h2 {
    padding-bottom: 2rem;
}

.container-3rd-section {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 25px;
    width: 18rem;
    background: var(--background);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 #image7, #image8, #image9,
 #image10, #image11 {
    height: 20rem;
    width: 15rem;
}

/* Price Section */
#price {
    background-color: var(--fourth-section-color);
}

.first-row, .third-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.first-row {
    padding-top: 8rem;
}

.container-4rd-section {
    margin-left: 15rem;
    margin-right: 15rem;
}

.second-row {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

/* Reviews Section*/
#reviews {
    background-color: var(--second-section-color);
}

/* Contacts */
#contacts {
    background-color: var(--third-section-color);
    min-height: 90vh;
}

.social-links {
    font-size: 10rem;
}

#contacts, h2 {
    padding-bottom: 2rem;
}

#social-links {
    padding-right: 5rem;
    padding-left: 5rem;
}

/* Footer */
footer {
    background-color: rgb(36, 67, 240);
    height: 10vh;
    color: white;
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
    /* First Section */
    #main-title {
        margin-top: 150px;
    }

    .theme-switcher {
        z-index: 20;
        position: relative;
        top: -7rem;
        left: 9rem;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 15px;
        padding-bottom: 1rem;
    }

    #navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        position: absolute;
        font-size: 12px;
        padding: 10px;
    }

    .title-group, .third-section-text-section {
        padding-top: 0rem;
    }

    .about-school-section-text {
        padding-bottom: 10px;
    }

    h4 {
        font-size: 10px;
    }

    .container, .container-4rd-section, .container-3rd-section {
        margin-right: 10px;
        width: 130px;
        height: 130px;
        padding: 5px 10px;
        margin-right: 12px;
    }

    #image1, #image2, #image3, #image4, #image7, #image8, #image9, #image10, #image11 {
        height: 90px;
        width: 90px;
    }

    .images-container1, .images-container2 {
        display: inline;
    }

    .images1 {
        padding-bottom: 10px;
    }

    /* Second Section */

    .second-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 600px;
    }

    #image5, #image6, #image12, #image13 {
        height: auto;
        width: 90px;
    }

    .first-teacher, .first-review {
        position: relative;
        top: -16rem;
        left: 21rem;
        padding-top: 10rem;
        /* padding-right: -3rem; */
        display: flex;
        flex-direction: row;
    }

    .first-teacher-text-section, .second-teacher-text-section, .first-review-text-section, .second-review-text-section p {
        height: 10px;
        width: 200px;
        line-height: 1rem;
        font-size: 10px;
    }

    .second-teacher-text-section, .first-review-text-section, .second-review-text-section {
        padding-right: 1rem;
    }

    .second-teacher, .second-review {
        z-index: 10;
        position: relative;
        top: -4rem;
        right: 19rem;
        display: flex;
        flex-direction: row;
    }

    /* Third Section */
    .third-section-text-section {
        text-align: center;
    }

    .images3, .images4 {
        margin-bottom: 10px;
    }

    /* Fourth Section */
    h3 {
        font-size: 15px;
    }

    .container-4rd-section {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .first-row {
        padding-top: 1rem;
    }

    .second-row {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    /* Firth Section */
    .first-review {
        padding-left: 15px;
    }

    /* Sixth Section */
    .social-links {
        font-size: 2rem;
        display: flex;
        flex-direction: row;

    }

    #social-links {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .footer_content {
        margin-left: 10px;
    }
}
